.characterpreview{
    width:200px;
    height:380px;
    border-radius: 10%;
    cursor:pointer;
    box-shadow: 17px 10px 20px 8px rgba(0, 0, 0, 0.13);
}
.characterpreview .logo img{
  transition:linear 1s;
  width:200px;
  margin:30px 4px 0px;
}
.characterpreview h2{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
    margin-top:-20px;
    color:black;
    text-align: center;
}

.characterpreview:hover .logo img{
    animation: rotate 2s linear infinite;
  
}

@keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }