.title {
    margin:100px auto 20px ;
    color:rgb(93, 192, 223);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:40px;
}
.relatedcharacters{
        background-color: initial;
        margin: 200px auto 30px;
        max-width: 133rem;
        display:flex;
        justify-content: center;
        align-items: center;
        border:gold 2px solid;
        padding:100px 0px 50px;
        border-radius: 9px;
}
.relatedcharacters h1{
    color:gold;
    padding-left:20px;
    font-size:30px;
}
@media (max-width:1072px) {
    .relatedcharacters{
        flex-direction: column;
        gap:20px;
    }
   
}
.swiper-slide{
    font-size:26px;
    cursor:pointer
}